[
  #foreach( $address in $patient.getAddresses()  )

    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $address.getPostCode()) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "PPPPP"},
    #end

    #foreach( $window in $StringTools.getMatchingWindowsAboveThreshold($sourceText, $address.getAddress(), 0.5) )
      {"regexp": "(?i)\\Q$window.getMatchingText()\\E", "placeHolder": "AAAAA"},
    #end

  #end

]
