[
  #foreach( $address in $patient.getAddresses()  )

    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $address.getPostCode()) )
    {"regexp": "(?i)$approximateMatch", "placeHolder": "PPPPP"},
    #end

    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $address.getAddress()) )
    {"regexp": "(?i)$approximateMatch", "placeHolder": "AAAAA"},
    #end

    #set ($window = $StringTools.getMatchingWindow($sourceText, $address.getAddress()))
    #if( $window.isScoreAboveThreshold(0.4) )
      {"regexp": "(?i)\\Q$window.getMatchingText()\\E", "placeHolder": "AAAAA"},
    #end

  #end

]
