[
  #foreach( $dateOfBirth in $patient.getDateOfBirths() )
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd/MM/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM/dd/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd-MM-yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd-MM-yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM-dd-yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM-dd-yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM.dd.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM/dd/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'yyyy/MM')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd.MM.yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd.M.yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd.M.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd.MM.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'd.MM.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd/M/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd/M/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd/MM/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'd/MM/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'M.yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'M.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM.yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM.yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'M/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'M/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM/yy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM/yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM.dd.yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'MM dd')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd.MM')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd/MM')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd-MM')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'dd MM')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, 'yyyy')}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, "dd'\s*(th|rd|st|nd)?\s*(of)?' MMMM")}", "placeHolder" : "DDDDD"},
    {"regexp": "(?i)${TimeUtil.getFormattedDate($dateOfBirth, "d'\s*(th|rd|st|nd)?\s*(of)?' MMMM")}", "placeHolder" : "DDDDD"}
  #end
]
