[

  #foreach( $forename in $patient.getForeNamesInDescendingLengthOrder()  )
      #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $forename) )
        {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "XXXXX"},
      #end
  #end

  #foreach( $surname in $patient.getLastNamesInDescendingLengthOrder()  )
    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $surname) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "XXXXX"},
    #end
  #end

  #foreach( $forename in $patient.ggetSeparatedForeNames()  )
    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $forename) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "XXXXX"},
    #end
  #end

  #foreach( $forename in $patient.getSeparatedSurnames()  )
    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $forename) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "XXXXX"},
    #end
  #end

  #foreach( $forename in $patient.getCarerForeNames()  )
    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $forename) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "YYYYY"},
    #end
  #end

  #foreach( $surname in $patient.getCarerLastNames()  )
    #foreach( $approximateMatch in $StringTools.getApproximatelyMatchingStringList($sourceText, $surname) )
    {"regexp": "(?i)\\Q$approximateMatch\\E", "placeHolder": "YYYYY"},
    #end
  #end

]
