<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="uk.ac.kcl.iop.brc.core.pipeline.dncpipeline" />
    <context:component-scan base-package="uk.ac.kcl.iop.brc.core.pipeline.common" />
    <context:annotation-config />
    <cache:annotation-driven cache-manager="cacheManager" />
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:config.properties" />

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="patients" />
                </bean>
            </set>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
        <property name="configLocation" value="velocity.properties"/>
    </bean>

    <bean id="sourceDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${sourceJdbcPath}" />
        <property name="username" value="${sourceDbUsername}" />
        <property name="password" value="${sourceDbPassword}" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="minEvictableIdleTimeMillis" value="180000"/>
        <property name="timeBetweenEvictionRunsMillis" value="180000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
    </bean>

    <bean id="targetDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${targetJdbcDriver}" />
        <property name="url" value="${targetJdbcPath}" />
        <property name="username" value="${targetDbUsername}" />
        <property name="password" value="${targetDbPassword}" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="minEvictableIdleTimeMillis" value="180000"/>
        <property name="timeBetweenEvictionRunsMillis" value="180000"/>
        <property name="numTestsPerEvictionRun" value="3"/>
    </bean>

    <bean id="sourceSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="sourceDataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <!--<prop key="hibernate.show_sql">true</prop>-->
                <!--<prop key="format_sql">true</prop>-->
                <!--<prop key="use_sql_comments">true</prop>-->
                <prop key="transaction.auto_close_session">true</prop>
                <prop key="transaction.flush_before_completion">true</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.connection.pool_size">1000</prop>
                <prop key="hibernate.connection.release_mode">auto</prop>

                <prop key="hibernate.c3p0.min_size">16</prop>
                <prop key="hibernate.c3p0.max_size">64</prop>
                <prop key="hibernate.c3p0.timeout">130</prop>
                <prop key="hibernate.c3p0.max_statements">30</prop>
                <prop key="hibernate.c3p0.idle_test_period">60</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>queries/sqlserver-pipeline-named-queries.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="targetSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="targetDataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <!--<prop key="hibernate.show_sql">true</prop>-->
                <!--<prop key="format_sql">true</prop>-->
                <!--<prop key="use_sql_comments">true</prop>-->
                <prop key="transaction.auto_close_session">true</prop>
                <prop key="transaction.flush_before_completion">true</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.connection.pool_size">1000</prop>
                <prop key="hibernate.connection.release_mode">auto</prop>

                <prop key="hibernate.c3p0.min_size">16</prop>
                <prop key="hibernate.c3p0.max_size">64</prop>
                <prop key="hibernate.c3p0.timeout">130</prop>
                <prop key="hibernate.c3p0.max_statements">30</prop>
                <prop key="hibernate.c3p0.idle_test_period">60</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>queries/sqlserver-pipeline-named-queries.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="baseDao" class="uk.ac.kcl.iop.brc.core.pipeline.common.data.BaseDao">
        <property name="sourceSessionFactory" ref="sourceSessionFactory"/>
        <property name="targetSessionFactory" ref="targetSessionFactory"/>
    </bean>

</beans>