<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="uk.ac.kcl.iop.brc.core.pipeline.dncpipeline" />
    <context:component-scan base-package="uk.ac.kcl.iop.brc.core.pipeline.common" />
    <context:annotation-config />
    <cache:annotation-driven cache-manager="cacheManager" />
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:config.properties" />

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="patients" />
                </bean>
            </set>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
        <property name="configLocation" value="velocity.properties"/>
    </bean>

    <bean id="sourceDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${sourceJdbcDriver}" />
        <property name="jdbcUrl" value="${sourceJdbcPath}" />
        <property name="user" value="${sourceDbUsername}" />
        <property name="password" value="${sourceDbPassword}" />
        <property name="preferredTestQuery" value="SELECT 1" />
        <property name="testConnectionOnCheckin" value="true" />
        <property name="testConnectionOnCheckout" value="true" />

        <property name="acquireIncrement" value="50" />
        <property name="minPoolSize" value="50" />
        <property name="maxPoolSize" value="200" />
        <property name="autoCommitOnClose" value="true" />
        <property name="idleConnectionTestPeriod" value="10" />
        <property name="maxIdleTime" value="120" />
        <property name="unreturnedConnectionTimeout" value="120"/>
    </bean>

    <bean id="targetDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${targetJdbcDriver}" />
        <property name="jdbcUrl" value="${targetJdbcPath}" />
        <property name="user" value="${targetDbUsername}" />
        <property name="password" value="${targetDbPassword}" />
        <property name="preferredTestQuery" value="SELECT 1" />
        <property name="testConnectionOnCheckin" value="true" />
        <property name="testConnectionOnCheckout" value="true" />

        <property name="acquireIncrement" value="16" />
        <property name="minPoolSize" value="50" />
        <property name="maxPoolSize" value="200" />
        <property name="autoCommitOnClose" value="true" />
        <property name="idleConnectionTestPeriod" value="10" />
        <property name="maxIdleTime" value="120" />
        <property name="unreturnedConnectionTimeout" value="120"/>
    </bean>

    <bean id="sourceSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="sourceDataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${sourceHibernateDialect}</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="format_sql">false</prop>
                <prop key="transaction.auto_close_session">true</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>queries/sqlserver-pipeline-named-queries.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="targetSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="targetDataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${targetHibernateDialect}</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="format_sql">false</prop>
                <prop key="transaction.auto_close_session">true</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>queries/sqlserver-pipeline-named-queries.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="baseDao" class="uk.ac.kcl.iop.brc.core.pipeline.common.data.BaseDao">
        <property name="sourceSessionFactory" ref="sourceSessionFactory"/>
        <property name="targetSessionFactory" ref="targetSessionFactory"/>
    </bean>


</beans>